[submodule "First year/Linear_Algebra_and_Mathematical_Structures"]
	path = First year/Linear_Algebra_and_Mathematical_Structures
	url = https://github.com/josepadial/UGR_GII_ALEM
[submodule "First year/Calculus"]
	path = First year/Calculus
	url = https://github.com/josepadial/UGR_GII_CA
[submodule "First year/Fundamentals_of_Programming"]
	path = First year/Fundamentals_of_Programming
	url = https://github.com/josepadial/UGR_GII_FP
[submodule "First year/Fundamentals_of_Software"]
	path = First year/Fundamentals_of_Software
	url = https://github.com/josepadial/UGR_GII_FS
[submodule "First year/Fundamentals_of_Physics_and_Technology"]
	path = First year/Fundamentals_of_Physics_and_Technology
	url = https://github.com/josepadial/UGR_GII_FFT
